In [1]:
#import dependencies 
import json
import pandas as pd
import numpy as np
import os
import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

In [2]:
 # Database engine connection
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [3]:
# Create the database engine
engine = create_engine(db_string)

In [4]:
# Save movie_df to SQL table
movies_df.to_sql(name='movies', con=engine, if_exists='replace')

NameError: name 'movies_df' is not defined

In [ ]:
# Remove ratings table from database if needed
# Opening a connection
connection = engine.raw_connection()

In [ ]:
# Creating a cursor object using the cursor() method
cursor = connection.cursor()

In [ ]:
# Droping ratings table if already exists
cursor.execute("DROP TABLE IF EXISTS ratings")

In [ ]:
# Commit changes
connection.commit()

In [ ]:
# Closing the connection
connection.close()

In [ ]:
# Create the path to your file directory and variables for the three files.
file_dir = 'C:/Users/shliu/Documents/Class/Movies-ETL'

In [ ]:
# Import rating data to sql using chunksize param
# create a variable for the number of rows imported
rows_imported = 0
# Create start time variable
start_time = time.time()
for data in pd.read_csv(f'{file_dir}/ratings.csv', chunksize=1000000):
    
    # print out the range of rows that are being imported
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

    data.to_sql(name='ratings', con=engine, if_exists='append')
    
    # increment the number of rows imported by the chunksize
    rows_imported += len(data)
    
    # print that the rows have finished importing
    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')